/************************************************************/
/************************* Main Nav *************************/
/************************************************************/

.main-nav-list li {
    font-size:  1.6rem;
}

.main-logo {
    font-size:      1.8rem;
}


/***********************************************************/
/************************* Youtube *************************/
/***********************************************************/

.logo-youtube i {
    font-size: 16rem;
    margin:    6rem auto;
}

.video iframe {
    height: 22rem;
    margin: 2rem auto;
    width:  28rem;
}