/**************************************************************/
/************************* Common Use *************************/
/**************************************************************/

.hero-title {
    font-size: 6rem;
}


/***********************************************************/
/************************* Youtube *************************/
/***********************************************************/

.logo-youtube i {
    font-size: 24rem;
    margin:    6rem auto;    
}

.video iframe {
    height: 30rem;
    margin: 2rem auto;
    width:  36rem;
}


/************************************************************/
/************************* Main Nav *************************/
/************************************************************/

.main-logo {
    font-size: 2.4rem;
}


/***************************************************************/
/************************* Main Footer *************************/
/***************************************************************/

.social-links {
    gap: 5rem;
}