/************************************************************/
/************************* Main Nav *************************/
/************************************************************/

.main-nav-list li {
    font-size:  2.6rem;
    list-style: none;
}

.main-logo {
    font-size:      3.4rem;
    letter-spacing: 0.2rem;
}


/*************************************************************/
/************************* Blackjack *************************/
/*************************************************************/

.cards {
    display:         flex;
    gap:             10rem;
    justify-content: center;
    margin:          4rem auto;
    width:           90%;

}

.blackjack-title {
    color:        var(--white-3);
    font-size:    18rem;
    font-weight:  700;
    text-align:   center;
    text-shadow:  0.7rem 0.7rem 0.4rem var(--black-1);
} 

.blackjack-elements p {
    color:       var(--white-1);    
    line-height: 4;
    margin:      6rem auto;
}

.blackjack-btn a {
    font-size:        3.6rem;
}


/***********************************************************/
/************************* Youtube *************************/
/***********************************************************/

.video iframe {
    height: 40rem;
    margin: 6rem auto;
    width:  60rem;
}


/************************************************************/
/************************* Projects *************************/
/************************************************************/

.project-title h3 {
    font-size: 4rem;
}