/*************************************************************************/
/******************************  Variables  ******************************/
/*************************************************************************/

:root {
    --white-1:  #ffffff;
    --white-2:  #fffffe;
    --white-3:  #feffb5;
    --red-1:    #c4302b;
    --red-2:    #9a3232;
    --red-3:    #441818;
    --yellow-1: #b4b229;
    --yellow-2: #E1AA0C;
    --yellow-3: #c39200;
    --yellow-4: #85780a;
    --green-1:  #148f58;
    --green-2:  #116161;
    --green-3:  #194b19;
    --green-4:  #092e1d;
    --blue-1:   #3c3694;
    --blue-2:   #18117c;
    --blue-3:   #3d2b7e;
    --pink-1:   #f1c1d1;
    --black-1:  #0a0202;
    /* 'MuseoModerno', cursive; */
    /* 'Ubuntu', sans-serif; */
}


/************************************************************/
/************************* Settings *************************/
/************************************************************/

*, *:before, *:after {
    box-sizing: inherit;
    margin:     0;
    padding:    0;
}

html {
    box-sizing: border-box;
    font-size:  62.5%;
}

body {    
    background-color: var(--red-2);
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%230d2a58' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family:      'MuseoModerno', cursive;
    font-size:        1.6rem;
    line-height:      2;    
    margin-top:       0;
}


/***********************************************************/
/************************* Globals *************************/
/***********************************************************/

a {
    text-decoration: none;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.6rem;
}


/**************************************************************/
/************************* Common Use *************************/
/**************************************************************/

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.round-box {
    border-radius: 2rem;
    box-shadow:    1.2rem 1.2rem 2.4rem var(--black-1);
}

.width-90 {
    width: 90%;
}

.width-85 {
    width: 85%;
}

.width-80 {
    width: 80%;
}

.width-60 {
    width: 60%;
}

.hero {
    align-items:     center;
    display:         flex;
    height:          20rem;
    justify-content: center;
}

.hero-title {
    color:       var(--yellow-2);
    font-size:   4rem;
    font-weight: 400;
    text-shadow: 0.5rem 0.5rem 0.2rem var(--blue-2);
}

.intro-container {
    background-color: var(--white-3);
    color:            var(--black-1);
    font-size:        1.6rem;
    margin:           auto;
    margin-bottom:    4rem;
    padding:          2rem;
    text-align:       justify;
    width:            90%;
}


/************************************************************/
/************************* Main Nav *************************/
/************************************************************/

.main-nav-container {
    align-items:           center;
    background-color:      var(--green-1);
    display:               grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content:       center;
}

.main-nav-list {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    justify-content: center;
}

.main-nav-list li {
    font-size:  1.4rem;
    list-style: none;
}

.main-nav-list a {
    border-radius: 1.4rem;
    color:         var(--white-3);
    display:       block;
    margin:        0;
    padding:       0.6rem 2rem;
    transition:    all 0.3s linear;
}

.main-nav-list a:active {
    background-color: var(--green-2);
    color:            var(--white-3);
}

.main-logo {
    color:          var(--white-3);
    display:        block;
    font-size:      1.6rem;
    font-weight:    400;
    letter-spacing: 0.14rem;
    margin:         auto;
    padding:        0;
    text-shadow:    0.6rem 0.6rem 0.3rem var(--green-3);
}


/********************************************************/
/************************* Hero *************************/
/********************************************************/

.hero-index {
    background: none;
}

.hero-projects {
    background: none;
}

.hero-blog {
    background: none;
}

.hero-contact {
    background: none;
}


/*************************************************************/
/************************* Blackjack *************************/
/*************************************************************/

.blackjack-container {
    background-color: var(--blue-1);
    display:          flex;
    flex-direction:   column;
    margin:           6rem auto;
    margin-top:       10rem;
    padding:          2rem;
    width:            90%;
}

.blackjack-title {
    color:       var(--white-3);
    font-weight: 700;
    font-size:   5rem;
    text-align:  center;
    text-shadow: 0.7rem 0.7rem 0.4rem var(--black-1);
} 

.cards {
    margin:          4rem auto;
    width:           90%;
    display:         flex;
    justify-content: center;

}

.card img {
    border-radius: 2rem;
    box-shadow:    1.2rem 1.2rem 2.4rem var(--black-1);
    width:         20rem;
}

.card:nth-child(2), .card:nth-child(3) {
    display: none;
}


.blackjack-elements {
    margin:        auto;
    margin-bottom: 6rem;
}

.blackjack-elements p {
    color:       var(--white-1);
    font-size:   1.6rem;
    line-height: 2;
    margin:      6rem auto;
}

.blackjack-btn {
    align-items:     center;
    display:         flex;
    justify-content: center;
}

.blackjack-btn a {
    border:           solid 0.4rem var(--yellow-4);
    background-color: var(--blue-2);
    color:            var(--yellow-4);
    display:          block;
    font-size:        2rem;    
    margin:           2rem 0;
    padding:          2rem 1rem 2rem 1rem;
    text-align:       center;
    width:            120%;
}


/***********************************************************/
/************************* Youtube *************************/
/***********************************************************/

.videos {
    align-items:      center;
    background-color: var(--white-2);
    color:            var(--red-1);
    display:          flex;
    flex-direction:   column;
    justify-content:  center;
    margin:           10rem auto;
    margin-top:       6rem;
    padding-bottom:   10rem;
    width:            90%;
}

.logo-youtube i {
    color:     var(--red-1);
    font-size: 12rem;
    margin:    4rem auto;    
}


.videos h3 {
    font-size:   2.6rem;
    font-weight: 700;
    width:       85%;
}

.videos p {
    font-size:   1.6rem;
    font-weight: 400;
    margin:      4rem;
    text-align:  justify;
}

.video iframe {
    height: 18rem;
    margin: 2rem auto;
    width:  24rem;
}


/***************************************************************/
/************************* Main Footer *************************/
/***************************************************************/

.main-footer {
    align-items:      center;
    background-color: var(--blue-1);
    color:            var(--white-2);
    display:          flex;
    font-family:      'Ubuntu';
    justify-content:  center;
    padding-bottom:   2rem;
    padding-top:      2rem;
}

.footer-container, .social {
    align-items:     center;
    display:         flex;
    justify-content: center;
    flex-direction:  column;
    
}

.social p {
    font-size: 2rem;
}

.social-links {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    font-size:       3rem;
    gap:             0.6rem;
    justify-content: center;
    margin:          4rem auto;
}

.social-links a {
    color:      var(--white-2);
    transition: all 0.3s linear;
}

.social-links a:active {
    color:     var(--yellow-3);
}

.copyright {
    font-size:   1.4rem;
    font-weight: 300;
}


/************************************************************/
/************************* Projects *************************/
/************************************************************/

.galery {
    display: none;
    margin:  0;
}

.galery-list {
    display:               grid;
    grid-template-columns: repeat(3, 1fr);
    list-style:            none;
}

.galery-list img {
    height:     100%;
    margin:     0;
    object-fit: top left;
    padding:    0;
    transition: transform 0.6s ease-out, box-shadow 0.4s linear;    
    width:      100%;
}

.galery-list img:hover {
    box-shadow: 1.8rem 1.8rem 2rem var(--black-1);
    transform:  scale(1.2);
}

.project {    
    align-items:     center;
    color:           var(--white-2);
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    margin:          10rem auto;
}

.project-title {
    background-color: var(--blue-2);
    margin-bottom:    2rem;
}

.project-title h3 {
    font-size: 2rem;
    padding:   1rem 2rem;
}

.project-box {    
    align-items:      center;
    background-color: var(--yellow-3);
    display:          flex;
    flex-direction:   column;
    gap:              2rem;
    justify-content:  center;
}

.project-text {
    font-size:  1.6rem;
    padding:    4rem;
    text-align: justify;
}

.project-image img {
    box-shadow: 1.2rem 1.2rem 2.4rem var(--black-1);    
    margin:     auto;
    margin-top: 4rem;
    width:      80vw;
}

.project-link {
    color:       var(--blue-2);
    display:     block;
    font-weight: bold;
    margin-top:  2rem;
}


/********************************************************/
/************************* Blog *************************/
/********************************************************/

.blog {
    align-items:     center;
    color:           var(--white-2);
    display:         flex;
    font-size:       4rem;
    flex-direction:  column;
    gap:             8rem;
    justify-content: center;
    margin:          auto;
    margin-bottom:   4rem;
    text-align:      center;
}

.blog-image img {
    width: 80vw;
}