/************************************************************/
/************************* Main Nav *************************/
/************************************************************/

.main-logo {
    font-size: 2rem;
}


/***********************************************************/
/************************* Youtube *************************/
/***********************************************************/

.logo-youtube i {
    font-size: 18rem;
    margin:    6rem auto;    
}

.video iframe {
    height: 26rem;
    margin: 2rem auto;
    width:  32rem;
}


/***************************************************************/
/************************* Main Footer *************************/
/***************************************************************/

.social-links {
    flex-direction:  row;
    gap:             4rem;
}